/* Global Styles */
:root
{
    --white: #ffffff;
    --black: #000000;
    --off-white: #eadeda;
    --dark-blue: #2e294e;
    --light-blue: #197bbd;
    --light-brown: #8a716a;
    --light-green: #28D7B1;
    
}
body
{
    min-height: 100%;
    min-width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--off-white);
    color: #333;
    color: var(--black);
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}
.sticky-navbar
{
    margin: 0;
    background-color: var(--white);
    position: sticky;
    padding: 1em;
    top: 0;
    z-index: 100;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.content
{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    justify-content: center;
    align-items: center;
}
p
{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 2em;
}
a
{
    border-radius: 1rem;
    text-decoration: none;
    margin: 0.5em;
    padding: 1em;
    background-color: var(--white);
    color: var(--black);
}
a:hover
{
    background-color: var(--dark-blue);
    color: var(--white);
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--white);
}
form input
{
    width: 20vw;
    border-radius: 0.5rem;
}
form button
{
    background-color: var(--white);
    color:var(--black);
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    cursor: pointer;
}
form button:hover
{
    background-color: var(--dark-blue);
    color: var(--white);
}
/* Home */
.content h1
{
    border-radius: 1rem;
}
.flex-container
{
    display: flex;
}
.card
{
    border-radius: 1rem;
    background-color: var(--white);
    flex: 1;
    margin: 1em;
    padding: 1em;

}
.card-header
{
    margin-bottom: 1em;
    border-radius: 1rem;
    margin-top: 0;
    background-color: var(--primary-color);
    color: var(--link-color);
}
.card p
{
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: var(--text-color);
    padding: 2em;
    height: 25vh;
    overflow-y: scroll;
}
.post-image
{
    width: 30vw;
    height: 30vh;
    border-radius: 1rem;
}
/* About */
.headshot-container
{
    background-color: var(--white);
    float: right;
    width: 20vh;
    margin: 10vh;
    padding: 10px;
}
.headshot-container img
{
    width: 100%;
    height: auto;
}
.about-me
{
    text-align: center;
    background-color: var(--white);
    width:50vh;
    padding:1rem;
}
.some-details
{
    text-align: center;
    background-color: var(--white);
    width: 50vh;
    padding:1rem;
}
.learn-more
{
    text-align: center;
    background-color: var(--white);
    width: 50vh;
    padding:1rem;
}